@import "tailwindcss";
@theme {
  --color-accent-2: #9747FF;
  --color-accent: #B868E3;
  --color-primary-2: #BC6FF1;
  --color-secondary: #3C047C;
  --color-secondary-2: #14002B;
  --color-primary: #3C05C7;
  --color-background: #F9F0FF;
  --color-background-2: #BBACF3;
  --color-text: #100118;
  
}